html,
body {
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
}

 
/* Header section */

.top, .bottom{
  padding: 8px 48px;
}

.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header{
  background-color: #1F2937;
  color: #F9FAF8;
}

#logo{
  font-size: 24px;
}

.right-links{
  display: flex;
  gap: 24px;
}

.bottom{
  display: flex;
  justify-content: space-between;
}

.bottom > .right{
  background-color: #a1a3a8;
  justify-content: center;
  align-items: center;

}

ul{
  list-style-type: none;
  display: flex;
  gap: 12px;
}

/* Main section */

.content{

}

.section{
  background-color: #E5E7EB;
}

.call{
  background-color: #3882F6;
  border-radius: 5px;
  color: white;

  margin: 24px 48px;
  padding: 24px 24px;
  display: flex;
}

.sign{
  color:white;
  background-color: #3882F6;
  border-radius: 8px;
  border: none;

  cursor: pointer;
}

.call > .sign{
  border: 2px solid white;
}


/* Footer section */

.footer{
  height: 72px;
  background-color: #1F2937;
  color: white;

  display:flex;
  margin-top: auto;

  justify-content: center;
  align-items: center;
}

